.card{
    border: 2px red solid;
    padding: 100px;
    margin: 3rem;
    border-radius: 15px;
    text-align: center;
}
.card input{
    border: 1px black solid;
    background-color: aqua;
    padding: 7px 12px;
    margin-bottom: 1rem;
}
.card .btn-tahmin{
    padding: 7px 12px;
    border-radius: 10px;
    background-color: greenyellow;
    font-size: 1rem;
    cursor: pointer;
    display: none;

}
.card .btn-basla{
    padding: 7px 10px;
    border-radius: 10px;
    background-color: rgb(255, 47, 234);
    font-size: 1rem;
    font-weight: 800;
    cursor: pointer;

}