a:link{
    color: rgb(255, 0, 81);
    font-size: 2rem;
}
a:visited{
    color: skyblue;
   
}

a:hover{
    color: black;
    background-color: blueviolet;
}

h1.title:hover{
    color: red;
    background-color: black;
    text-align: center;
    cursor: pointer;
}

a:active{
    color: greenyellow;
}