body{
    margin: 0px;
    padding: 0px;
}
div.box-1{
    background-color: red;
    padding: 30px;
    margin: 50px;
}
h1.title{
    color: blue;
    text-align: center;
    background-color: rgb(21, 255, 0);
    padding: 50px;
    margin: 2rem;
}
div.box-2{
    background-color: violet;
    padding-top: 75px;
    margin-left: 45px;
}
span.spanEl{
    background-color: chartreuse;
    padding: 0 50px;
}
div.box-3{
    background-color: hotpink;

    color: antiquewhite;
    padding: 10px 56px 90px 34px;
    margin: 30px 23px 56px 0;
}

/* inline elementler sadece yatayda margin ve padding alırlar.*/
