body{
    margin: 0;
    padding: 0;
}

div.kutu{
    background-color: gold;
    padding: 5px;
    text-align: center;

}
span.spanEl{
    background-color: skyblue;
}

div.box{
    background-color: crimson;
    padding: 20px;
    margin: 10px;
 
    
}
p.pEl{
    background-color: chartreuse;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
}