:root{
    --renk1:rgb(11, 11, 105);
    --renk2:rgb(27, 183, 183);


}
h1{
    text-align: center;
    color: red;

}


div.btn-group{
    display: flex;
    gap: 3px;
    background-color: rgb(29, 120, 15);
    justify-content: center;
    padding: 3rem;
    width: 300px;
}

div.btn-group > button{
    background-color: var(--renk1);
    color: var(--renk2);
    padding: 10px 20px;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    border: 3px solid var(--renk2);
    cursor: pointer;
    border-radius: 10px;
    flex: 0 1 100px;


}

div.btn-group > button:first-child{
    border-radius: 30px 15px 15px 30px;
}


div.btn-group > button:last-child{
    border-radius:  15px 30px 30px  15px ;
}

div.btn-group > button:hover{
    background-color: var(--renk2);
    color: var(--renk1);
}
