/* *{
    box-sizing: border-box;
} */

.box-1{
    width: 500px;
    border: 5px solid red;
    padding: 30px;
    margin: 20px;
    box-sizing: content-box;
    text-align: center;
    background-color: aqua;

}


.box-2{
    width: 500px;
    border: 5px solid rgb(8, 76, 26);
    padding: 30px;
    margin: 20px;
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(190, 39, 210);

}