

/* HEADER */




/* MAIN */

/* BANNER */



/* ABOUT */




/* WHAT I DO */


/* RESUME */






/* PORTFOLIO */
.portfolio nav{
  margin-bottom: 30px;
}

.portfolio nav ul{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.portfolio nav a{
  font-weight: 300;
  padding: 5px;
  display: inline-block;
  border-bottom: 3px solid transparent;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.portfolio nav a:hover{
  border-bottom: 3px solid var(--color4);
}


.portfolio .masonary-content{
  column-count: 1;
  column-gap: 10px;
}

.portfolio .masonary-content img{
  margin-bottom: 10px;
}


@media(min-width:600px){
  .portfolio .masonary-content{
    column-count: 2;
  }
}

@media(min-width:900px){
  .portfolio .masonary-content{
    column-count: 3;
  }
}


/* CLIENT */

.client .testimonals{
  display: flex;
  flex-wrap: wrap;
  gap:20px;
}

.client .testimonals .testimonal{
  flex: 250px 1 1;
  background-color: var(--color6);
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap:20px
}

.client .testimonals .title{
  display: flex;
  align-items: center;
  gap:20px;
}

.client .testimonals .title img{
  width:70px;
  height: 70px;
  border-radius: 50%;
}

.client .testimonals .title p{
  color: var(--color5);
  font-size: 0.9rem;
}



/* CONTACT */

.contact .section-content h4{
  margin-bottom: 20px;
}

.contact .section-content ol,
.contact .section-content ul{
  margin-top: 20px;
  margin-bottom: 40px;
  line-height: 30px;
}

.contact .section-content ol{
  display: flex;
  gap:15px
}


.contact .section-content ul a i{
  color: var(--color4);
}


.contact form{
  text-align: center;
}

.contact form button{
  margin-top: 20px;
}


/* FOOTER */



