h1{
    color: blue;

}

.pEl{
    color: royalblue;
    font-size: 1.6rem;
    padding: 1.2rem;
    margin: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
a{
    text-decoration: none;
    color: rgb(42, 165, 81);
    font-size: 1.4rem;
}

a:hover{
    text-decoration: underline;
    color: springgreen;
    background-color: yellow;

}