@use "variables" as v;
@use "mixins" as m;
*{
    box-sizing: border-box;
}
body{
    font-family: v.$primary-font;
}

.btn {
    border: none;
    padding: 5px 10px;
    text-align: center;
    @include m.border-radius(10px)
}